h2 {
  font-weight: 300;
  font-size: 2.5rem;
}

.landing-page-content-container {
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;

  h1 {
    font-weight: 400;
    font-size: 5rem;
  }
}

.title-button {
  text-decoration: none;
  color: black;
  border: 1px lightgray;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 0 lightgray;
  padding: 0 1rem 0 1rem;
  h1 {
    font-weight: 400;
    font-size: 5rem;
  }
  &:hover {
    background-color: lightgrey;
    transition: 0.5s;
  }
  text-align: center;
}

.Secret-Morse-Encoder-Description {
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;

  .lines {
    font-weight: 300;
    font-size: 2.5rem;
    opacity: 0; /* Initially hidden */ /* From ChatGPT */
    transition: opacity 1s ease-in-out; /* Smooth fade-in */ /* From ChatGPT */

    /* From ChatGPT */
    &.fade-in {
      opacity: 1; /* Fully visible */
    }
  }
  .more-details {
    margin-left: 70%;
    opacity: 0; /* Initially hidden */ /* From ChatGPT */
    transition: opacity 1s ease-in-out; /* Smooth fade-in */ /* From ChatGPT */

    /* From ChatGPT */
    &.fade-in {
      opacity: 1; /* Fully visible */
    }
  }
}

.Lightsabre-Piano-Description {
  background-color: black;
  color: white;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  width: 100%;
  gap: 2rem;

  h1 {
    font-weight: 400;
    font-size: 5rem;
  }

  h3 {
    font-weight: 300;
    font-size: 2.5rem;
  }

  h4 {
    font-weight: 300;
    font-size: 1.5rem;
  }

  .Moveable-Text {
    transition: transform 1s ease-out;
  }
}

.Servo-Muscles {
  justify-content: center;
  align-items: center;

  img {
    border-radius: 1rem;
  }

  h1 {
    font-weight: 400;
    font-size: 5rem;
  }

  .intro {
    gap: 2rem;
  }
}
