nav,
.header-list {
  display: flex;
}

nav {
  padding-left: 1rem;
  padding-right: 1rem;

  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 4.5rem;
  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}

.header-list {
  gap: 1rem;
  list-style: none;
  padding: 0;

  .header-list-item {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}
