.Servo-Muscles {
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }

  h2 {
    font-size: 4rem;
    font-weight: 300;
  }

  h3 {
    font-size: 3rem;
    font-weight: 200;
  }

  h4 {
    font-size: 2.5rem;
    font-weight: 200;
  }
}

.description {
  gap: 2rem;
}

.slider-crank-initial {
  gap: 1rem;

  .column {
    width: 50%;
  }
}

.slider-crank-move-arm {
  gap: 2rem;
}

.servo-as-muscles {
  gap: 2rem;
}
