.Servo-Muscles {
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }

  h2 {
    font-size: 4rem;
    font-weight: 300;
  }

  h3 {
    font-size: 3rem;
    font-weight: 200;
  }

  h4 {
    font-size: 2.5rem;
    font-weight: 200;
  }

  h5 {
    font-size: 2rem;
    font-weight: 200;
  }
}

.title {
  background-color: var(--Raisin-Black);
  color: white;
  width: 100%;
  margin-bottom: 0;
}

.description-title,
.initial-versions-title,
.final-video-example-title {
  border-radius: 1rem 1rem 0 0;
}

.description {
  background-color: var(--Pale-Dogwood);
}

.description-detailed {
  gap: 1rem;
}

.mechanical-systems {
  justify-content: space-around;
  margin-bottom: 1rem;
  width: 100%;
  .column {
    width: 25%;
  }
  .column:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .column:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.my-dataset {
  width: 100%;

  .column:first-child {
    background-color: var(--Arsenic);
    border-radius: 1rem 0 0 1rem;
    width: 33%;
    color: white;
  }

  .column:last-child {
    border-radius: 0 1rem 1rem 0;
    width: 67%;
    color: white;
    background-color: var(--Raspberry-Rose);
  }
}

.slider-crank-initial {
  gap: 1rem;

  .column {
    width: 50%;
  }
}

.final-video-example {
  width: 100%;
  justify-content: space-between;
  .column:first-child {
    background-color: var(--Pale-Dogwood);
    width: 55%;
  }

  .column:last-child {
    width: 45%;
    .column {
      margin: 1rem;
    }
  }
}

.final-video-example-text {
  margin: 1rem;
}

.description-detailed,
.slider-crank-move-arm,
.servo-as-muscles {
  gap: 2rem;
}
